{% extends 'layouts.html' %}
{% block title %}
Profile Page
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1 class="text-center">Profile page</h1>
        </div>
    </div>
</div>
{% endblock %}